html{
    background-color: rgb(114, 101, 153);
}

.container{
  position:absolute;
  top:45%;
  left: 40%;
  background: linear-gradient(red, yellow);
}

.sub-container{
  display: flex;
  align-items: center;
}

.counter{
  font-weight: 900;
  font-size:  30px;
  color: black;
  margin:20px;
}


/* ------------------------------------------------------- */

.Container-UseRef{
  position:absolute;
  top:45%;
  left: 40%;
  background: linear-gradient(red, yellow);
}